<script lang="ts">
	import { AppShell, AppBar, Modal } from '@skeletonlabs/skeleton';
	import { AppRail, AppRailTile, AppRailAnchor } from '@skeletonlabs/skeleton';
	import { page } from '$app/stores';
	import { initializeStores } from '@skeletonlabs/skeleton';
	import Icon from '@iconify/svelte';
	import dayjs from 'dayjs';
	import { onMount } from 'svelte';
	import { LightSwitch } from '@skeletonlabs/skeleton';

	initializeStores();

	// clock
	let currentTime = dayjs().format('HH:mm:ss');
	onMount(() => {
		setInterval(() => {
			currentTime = dayjs().format('HH:mm:ss');
		}, 1000);
	});
	// Floating UI for Popups
	// import { computePosition, autoUpdate, flip, shift, offset, arrow } from '@floating-ui/dom';
	// import { storePopup } from '@skeletonlabs/skeleton';
	// storePopup.set({ computePosition, autoUpdate, flip, shift, offset, arrow });
	// let currentTile: number = 0;
</script>

<!-- App Shell -->
<Modal />
<AppShell>
	<svelte:fragment slot="header">
		<!-- App Bar -->
		<AppBar shadow="shadow-xl">
			<svelte:fragment slot="lead">
				<Icon icon="fxemoji:billiards" height="36" />
				<!-- <strong class="ml-4 text-xl uppercase">BILLING BILLIARD</strong> -->
			</svelte:fragment>
			<svelte:fragment slot="trail">
				<p class="text-xl font-extrabold">{currentTime}</p>
			</svelte:fragment>
		</AppBar>
	</svelte:fragment>
	<svelte:fragment slot="sidebarLeft">
		<AppRail border="">
			<svelte:fragment slot="lead">
				<AppRailAnchor href="/station" title="station" selected={$page.url.pathname.startsWith('/station')}>
					<svelte:fragment slot="lead"><Icon icon="clarity:coin-bag-solid" width="28" height="28" /></svelte:fragment>
					<span>Station</span>
				</AppRailAnchor>
				<AppRailAnchor href="/stok/riwayat" title="stok" selected={$page.url.pathname === '/stok'}>
					<svelte:fragment slot="lead"><Icon icon="clarity:truck-solid" width="28" height="28" /></svelte:fragment>
					<span>Stok</span>
				</AppRailAnchor>
				<AppRailAnchor href="/settings/station" title="settings" selected={$page.url.pathname.startsWith('/settings')}>
					<svelte:fragment slot="lead"><Icon icon="clarity:settings-solid" width="28" height="28" /></svelte:fragment>
					<span>Settings</span>
				</AppRailAnchor>
				<AppRailAnchor href="/users" title="users" selected={$page.url.pathname.startsWith('/users')}>
					<svelte:fragment slot="lead"><Icon icon="clarity:users-solid" width="28" height="28" /></svelte:fragment>
					<span>Users</span>
				</AppRailAnchor>
				<!-- <AppRailTile group="" name="tile-1" value={0} title="tile-1">
					<svelte:fragment slot="lead"><LightSwitch></LightSwitch></svelte:fragment>
				</AppRailTile> -->
			</svelte:fragment>
		</AppRail>
	</svelte:fragment>

	<!-- Page Route Content -->
	<slot />
</AppShell>

<style global>
	@import 'https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css';
</style>
