<script lang="ts">
	import Grid from 'gridjs-svelte';
	import { html, h } from 'gridjs';
	import { tblStyle } from '$lib/store';
	import Icon from '@iconify/svelte';

	const columns = [
		{
			name: 'Nama Tarif'
		},
		{
			name: 'Waktu',
			formatter: (cell: any) => {
				return html(`
					<div class='text-right'>
						${cell} Jam
					</div>
				`);
			}
		},
		{
			name: 'Harga',
			formatter: (cell: any) => {
				return html(`
					<div class='text-right'>
						${cell}
					</div>
				`);
			}
		},
		{
			name: 'Aksi',
			formatter: (cell: any) => {
				return html(`
					<a href="/" class=" btn-icon btn-icon-sm ">
						<Icon icon="clarity:search-line" />
					</a>
				`);
			}
		}
	];
	const defData = [
		['Tarif 1', 1, 120000],
		['Tarif 1', 1, 120000],
		['Tarif 1', 1, 120000],
		['Tarif 1', 1, 120000],
		['Tarif 1', 1, 120000],
		['Tarif 1', 1, 120000],
		['Tarif 1', 1, 120000],
		['Tarif 1', 1, 120000],
		['Tarif 1', 1, 120000]
	];
</script>

<div class="container h-full mx-auto justify-center items-center p-4">
	<h2 class="h2 font-bold">Tarif</h2>
	<ol class="breadcrumb mt-2 mb-4">
		<li>Settings</li>
		<li class="crumb-separator" aria-hidden>&rsaquo;</li>
		<li>Tarif</li>
	</ol>

	<a href="/settings/tarif/edit/new" type="button" class="btn variant-filled float-right mt-[-88px]">Tambah</a>
	<Grid {columns} search pagination={{ enabled: true, limit: 10 }} data={defData} style={$tblStyle} />
</div>
