<script lang="ts">
	import Grid from 'gridjs-svelte';
	import { html } from 'gridjs';
	import { tblStyle } from '$lib/store';

	const columns = [
		{
			name: 'Nama'
		},
		{
			name: 'Tipe'
		},
		{
			name: 'Aksi',
			formatter: (cell: any) => {
				const btnDtl = `
					<a href="/" title="Detail" class="rounded-sm btn-icon btn-icon-sm variant-filled-secondary">
						<iconify-icon icon="clarity:eye-solid" observer="false"></iconify-icon>
					</a>
				`;
				const btnEdit = `
					<a href="/" title="Edit" class="rounded-sm btn-icon btn-icon-sm variant-filled-warning">
						<iconify-icon icon="clarity:edit-solid" observer="false"></iconify-icon>
					</a>
				`;
				const btnDel = `
					<a href="/" title="Hapus" class="rounded-sm btn-icon btn-icon-sm variant-filled-error">
						<iconify-icon icon="clarity:trash-solid" observer="false"></iconify-icon>
					</a>
				`;
				return html(`
					<div class="flex gap-2">
						${btnDtl + btnEdit + btnDel}
					</div>
				`);
			}
		}
	];
	const defData = [
		['Meja01', 'Standar'],
		['Meja01', 'Standar'],
		['Meja01', 'Standar'],
		['Meja01', 'Standar'],
		['Meja01', 'Standar'],
		['Meja01', 'Standar'],
		['Meja01', 'Standar'],
		['Meja01', 'Standar'],
		['Meja01', 'Standar'],
		['Meja01', 'Standar'],
		['Meja01', 'Standar'],
		['Meja01', 'Standar'],
		['Meja01', 'Standar'],
		['Meja01', 'Standar'],
		['Meja01', 'Standar']
	];
</script>

<div class="container h-full mx-auto justify-center items-center p-4">
	<h2 class="h2 font-bold">Station</h2>
	<ol class="breadcrumb mt-2 mb-4">
		<li>Settings</li>
		<li class="crumb-separator" aria-hidden>&rsaquo;</li>
		<li>Station</li>
	</ol>

	<a href="/settings/station/edit/new" type="button" class="btn variant-filled float-right mt-[-88px]">Tambah</a>
	<Grid {columns} search pagination={{ enabled: true, limit: 10 }} data={defData} style={$tblStyle} />
</div>
