<script lang="ts">
	import Icon from '@iconify/svelte';
	import { Table, tableMapperValues, type TableSource } from '@skeletonlabs/skeleton';

	const sourceData = [
		{ position: 1, item: 'Lorem Ipsum', price: '100.000', qty: 1, total: '100.000' },
		{ position: 2, item: 'Lorem Ipsum', price: '100.000', qty: 1, total: '100.000' },
		{ position: 3, item: 'Lorem Ipsum', price: '100.000', qty: 1, total: '100.000' },
		{ position: 4, item: 'Lorem Ipsum', price: '100.000', qty: 1, total: '100.000' },
		{ position: 5, item: 'Lorem Ipsum', price: '100.000', qty: 1, total: '100.000' }
	];
	const tableSimple: TableSource = {
		// A list of heading labels.
		head: ['Item', 'Price', 'Qty', 'Total'],
		// The data visibly shown in your table body UI.
		body: tableMapperValues(sourceData, ['item', 'price', 'qty', 'total']),
		// Optional: The data returned when interactive is enabled and a row is clicked.
		// meta: tableMapperValues(sourceData, ['position', 'name', 'symbol', 'weight']),
		// Optional: A list of footer labels.
		foot: ['Total', '', '', '<span class="h3 text-right">500.000</span>']
	};
</script>

<div class="container h-full mx-auto justify-center items-center p-4">
	<h2 class="h2 font-bold">Meja 1</h2>
	<ol class="breadcrumb mt-2 mb-4">
		<li class="crumb"><a class="anchor" href="/pg1">Station</a></li>
		<li class="crumb-separator" aria-hidden>&rsaquo;</li>
		<li>Meja 1</li>
	</ol>

	<div class="grid grid-cols-2 gap-4">
		<div class="grid grid-cols-1 gap-4">
			<div class="card p-4">
				<div class="space-y-2">
					<label class="flex items-center space-x-2">
						<input class="radio" type="radio" name="radio-direct" value="1" />
						<p>Hotspot</p>
					</label>
					<label class="flex items-center space-x-2">
						<input class="radio" type="radio" name="radio-direct" value="2" checked />
						<p>Bayar Depan</p>
					</label>
					<label class="flex items-center space-x-2">
						<input class="radio" type="radio" name="radio-direct" value="3" />
						<p>Bayar Belakang</p>
					</label>
				</div>
				<label class="label">
					<span>User</span>
					<div class="input-group input-group-divider grid-cols-[1fr_auto]">
						<input type="text" placeholder="Enter Username..." />
						<a href="/" title="Username already in use.">
							<Icon icon="clarity:search-line" />
						</a>
					</div>
				</label>
				<label class="label">
					<span>Profil</span>
					<select class="select">
						<option value="1">Promo</option>
					</select>
				</label>
				<label class="label">
					<span>Input</span>
					<input class="input" title="Input (text)" type="text" placeholder="input text" />
				</label>
				<label class="label">
					<span>Input</span>
					<input class="input" title="Input (text)" type="text" placeholder="input text" />
				</label>
				<label class="label">
					<span>Input</span>
					<input class="input" title="Input (text)" type="text" placeholder="input text" />
				</label>
				<label class="label">
					<span>Input</span>
					<input class="input" title="Input (text)" type="text" placeholder="input text" />
				</label>
				<label class="label">
					<span>Input</span>
					<input class="input" title="Input (text)" type="text" placeholder="input text" />
				</label>
			</div>
		</div>
		<div class="grid grid-cols-1 gap-4">
			<div class="card">
				<header class="card-header font-semibold p-4">Food and Beverages</header>
				<Table source={tableSimple} />
			</div>
		</div>
		<div></div>
		<div class="text-right">
			<button type="button" class="btn variant-filled-success">Simpan</button>
			<button type="button" class="btn variant-filled-error">Batal</button>
		</div>
	</div>
</div>
