<script lang="ts">
	// import { TabGroup, Tab, TabAnchor } from '@skeletonlabs/skeleton';
	import Icon from '@iconify/svelte';

	let tabSet: number = 0;
</script>

<div class="container h-full mx-auto justify-center items-center p-4">
	<div class="flex justify-between">
		<section>
			<h2 class="h2 font-bold">Station</h2>
			<ol class="breadcrumb mt-2 mb-4">
				<!-- <li>&nbsp;</li> -->
				<!-- <li class="crumb"><a class="anchor" href="/pg1">Station</a></li>
				<li class="crumb-separator" aria-hidden>&rsaquo;</li>
				<li>Meja 1</li> -->
			</ol>
		</section>
		<section>
			<a href="/station/riwayat" type="button" class="btn variant-filled">Riwayat</a>
		</section>
	</div>

	<!-- <div class="grid grid-cols-[auto_200px] gap-4"> -->
	<div class="grid grid-cols-1 gap-4">
		<div class="grid grid-cols-5 gap-4">
			<span class="h4 font-semibold col-span-5">Billing</span>

			<div class="card card-hover variant-ringed-warning">
				<header class="card-header font-bold variant-filled-warning p-2">
					<span>Meja 1</span>
				</header>
				<section class="p-2 bg-warning-200 text-black">
					<table class="w-full">
						<tr>
							<td>Mulai</td>
							<td>:</td>
							<td class="text-right">00:00:00</td>
						</tr>
						<tr>
							<td>Durasi</td>
							<td>:</td>
							<td class="text-right">00:00:00</td>
						</tr>
						<tr>
							<td>Sisa</td>
							<td>:</td>
							<td class="text-right">00:00:00</td>
						</tr>
						<tr>
							<td>Table Guard</td>
							<td>:</td>
							<td class="text-right">Fulan</td>
						</tr>
					</table>
					<hr class="my-2 !border-t-2 !border-warning-400" />
					<p class="h3 font-bold text-right">940.000</p>
				</section>
				<div class="p-2 bg-warning-200">
					<div class=" flex grow justify-between">
						<a href="/station/billing" type="button" class="btn variant-ghost inline-block">Billing</a>
						<button type="button" class="btn variant-filled-warning inline-block">Checkout</button>
					</div>
				</div>
			</div>
			<div class="card card-hover variant-ringed-error">
				<header class="card-header font-bold variant-filled-error p-2">Meja 2</header>
				<section class="p-2 bg-error-200">
					<table class="w-full">
						<tr>
							<td>Mulai</td>
							<td>:</td>
							<td class="text-right">00:00:00</td>
						</tr>
						<tr>
							<td>Durasi</td>
							<td>:</td>
							<td class="text-right">00:00:00</td>
						</tr>
						<tr>
							<td>Sisa</td>
							<td>:</td>
							<td class="text-right">00:00:00</td>
						</tr>
						<tr>
							<td>Table Guard</td>
							<td>:</td>
							<td class="text-right"></td>
						</tr>
					</table>
					<hr class="my-2 !border-t-2 !border-error-400" />
					<p class="h3 font-bold text-right">0</p>
				</section>
				<div class="p-2 bg-error-200">
					<div class=" flex grow justify-between">
						<div></div>
						<button type="button" class="btn variant-ghost inline-block">Pending Bill</button>
						<button type="button" class="btn variant-filled-error inline-block">Bayar</button>
					</div>
				</div>
			</div>
			<div class="card card-hover variant-ringed-success">
				<header class="card-header font-bold variant-filled-success p-2">Meja 3</header>
				<section class="p-2 bg-success-200">
					<table class="w-full">
						<tr>
							<td>Mulai</td>
							<td>:</td>
							<td class="text-right">00:00:00</td>
						</tr>
						<tr>
							<td>Durasi</td>
							<td>:</td>
							<td class="text-right">00:00:00</td>
						</tr>
						<tr>
							<td>Sisa</td>
							<td>:</td>
							<td class="text-right">00:00:00</td>
						</tr>
						<tr>
							<td>Table Guard</td>
							<td>:</td>
							<td class="text-right"></td>
						</tr>
					</table>
					<hr class="my-2 !border-t-2 !border-success-400" />
					<p class="h3 font-bold text-right">0</p>
				</section>
				<div class="p-2 bg-success-200">
					<div class=" flex grow justify-between">
						<div></div>
						<!-- <button type="button" class="btn variant-ghost inline-block">Billing</button> -->
						<button type="button" class="btn variant-filled-success inline-block">Open</button>
					</div>
				</div>
			</div>
			<div class="card card-hover variant-ringed-success">
				<header class="card-header font-bold variant-filled-success p-2">Meja 4</header>
				<section class="p-2 bg-success-200">
					<table class="w-full">
						<tr>
							<td>Mulai</td>
							<td>:</td>
							<td class="text-right">00:00:00</td>
						</tr>
						<tr>
							<td>Durasi</td>
							<td>:</td>
							<td class="text-right">00:00:00</td>
						</tr>
						<tr>
							<td>Sisa</td>
							<td>:</td>
							<td class="text-right">00:00:00</td>
						</tr>
						<tr>
							<td>Table Guard</td>
							<td>:</td>
							<td class="text-right"></td>
						</tr>
					</table>
					<hr class="my-2 !border-t-2 !border-success-400" />
					<p class="h3 font-bold text-right">0</p>
				</section>
				<div class="p-2 bg-success-200">
					<div class=" flex grow justify-between">
						<div></div>
						<!-- <button type="button" class="btn variant-ghost inline-block">Billing</button> -->
						<button type="button" class="btn variant-filled-success inline-block">Open</button>
					</div>
				</div>
			</div>
			<div class="card card-hover variant-ringed-success">
				<header class="card-header font-bold variant-filled-success p-2">Meja 5</header>
				<section class="p-2 bg-success-200">
					<table class="w-full">
						<tr>
							<td>Mulai</td>
							<td>:</td>
							<td class="text-right">00:00:00</td>
						</tr>
						<tr>
							<td>Durasi</td>
							<td>:</td>
							<td class="text-right">00:00:00</td>
						</tr>
						<tr>
							<td>Sisa</td>
							<td>:</td>
							<td class="text-right">00:00:00</td>
						</tr>
						<tr>
							<td>Table Guard</td>
							<td>:</td>
							<td class="text-right"></td>
						</tr>
					</table>
					<hr class="my-2 !border-t-2 !border-success-400" />
					<p class="h3 font-bold text-right">0</p>
				</section>
				<div class="p-2 bg-success-200">
					<div class=" flex grow justify-between">
						<div></div>
						<!-- <button type="button" class="btn variant-ghost inline-block">Billing</button> -->
						<button type="button" class="btn variant-filled-success inline-block">Open</button>
					</div>
				</div>
			</div>
			<div class="card card-hover variant-ringed-success">
				<header class="card-header font-bold variant-filled-success p-2">Meja 6</header>
				<section class="p-2 bg-success-200">
					<table class="w-full">
						<tr>
							<td>Mulai</td>
							<td>:</td>
							<td class="text-right">00:00:00</td>
						</tr>
						<tr>
							<td>Durasi</td>
							<td>:</td>
							<td class="text-right">00:00:00</td>
						</tr>
						<tr>
							<td>Sisa</td>
							<td>:</td>
							<td class="text-right">00:00:00</td>
						</tr>
						<tr>
							<td>Table Guard</td>
							<td>:</td>
							<td class="text-right"></td>
						</tr>
					</table>
					<hr class="my-2 !border-t-2 !border-success-400" />
					<p class="h3 font-bold text-right">0</p>
				</section>
				<div class="p-2 bg-success-200">
					<div class=" flex grow justify-between">
						<div></div>
						<!-- <button type="button" class="btn variant-ghost inline-block">Billing</button> -->
						<button type="button" class="btn variant-filled-success inline-block">Open</button>
					</div>
				</div>
			</div>
			<div class="card card-hover variant-ringed-success">
				<header class="card-header font-bold variant-filled-success p-2">Meja 7</header>
				<section class="p-2 bg-success-200">
					<table class="w-full">
						<tr>
							<td>Mulai</td>
							<td>:</td>
							<td class="text-right">00:00:00</td>
						</tr>
						<tr>
							<td>Durasi</td>
							<td>:</td>
							<td class="text-right">00:00:00</td>
						</tr>
						<tr>
							<td>Sisa</td>
							<td>:</td>
							<td class="text-right">00:00:00</td>
						</tr>
						<tr>
							<td>Table Guard</td>
							<td>:</td>
							<td class="text-right"></td>
						</tr>
					</table>
					<hr class="my-2 !border-t-2 !border-success-400" />
					<p class="h3 font-bold text-right">0</p>
				</section>
				<div class="p-2 bg-success-200">
					<div class=" flex grow justify-between">
						<div></div>
						<!-- <button type="button" class="btn variant-ghost inline-block">Billing</button> -->
						<button type="button" class="btn variant-filled-success inline-block">Open</button>
					</div>
				</div>
			</div>
			<div class="card card-hover variant-ringed-success">
				<header class="card-header font-bold variant-filled-success p-2">Meja 8</header>
				<section class="p-2 bg-success-200">
					<table class="w-full">
						<tr>
							<td>Mulai</td>
							<td>:</td>
							<td class="text-right">00:00:00</td>
						</tr>
						<tr>
							<td>Durasi</td>
							<td>:</td>
							<td class="text-right">00:00:00</td>
						</tr>
						<tr>
							<td>Sisa</td>
							<td>:</td>
							<td class="text-right">00:00:00</td>
						</tr>
						<tr>
							<td>Table Guard</td>
							<td>:</td>
							<td class="text-right"></td>
						</tr>
					</table>
					<hr class="my-2 !border-t-2 !border-success-400" />
					<p class="h3 font-bold text-right">0</p>
				</section>
				<div class="p-2 bg-success-200">
					<div class=" flex grow justify-between">
						<div></div>
						<!-- <button type="button" class="btn variant-ghost inline-block">Billing</button> -->
						<button type="button" class="btn variant-filled-success inline-block">Open</button>
					</div>
				</div>
			</div>
			<div class="card card-hover variant-ringed-success">
				<header class="card-header font-bold variant-filled-success p-2">Meja 9</header>
				<section class="p-2 bg-success-200">
					<table class="w-full">
						<tr>
							<td>Mulai</td>
							<td>:</td>
							<td class="text-right">00:00:00</td>
						</tr>
						<tr>
							<td>Durasi</td>
							<td>:</td>
							<td class="text-right">00:00:00</td>
						</tr>
						<tr>
							<td>Sisa</td>
							<td>:</td>
							<td class="text-right">00:00:00</td>
						</tr>
						<tr>
							<td>Table Guard</td>
							<td>:</td>
							<td class="text-right"></td>
						</tr>
					</table>
					<hr class="my-2 !border-t-2 !border-success-400" />
					<p class="h3 font-bold text-right">0</p>
				</section>
				<div class="p-2 bg-success-200">
					<div class=" flex grow justify-between">
						<div></div>
						<!-- <button type="button" class="btn variant-ghost inline-block">Billing</button> -->
						<button type="button" class="btn variant-filled-success inline-block">Open</button>
					</div>
				</div>
			</div>
			<div class="card card-hover variant-ringed-success">
				<header class="card-header font-bold variant-filled-success p-2">Meja 10</header>
				<section class="p-2 bg-success-200">
					<table class="w-full">
						<tr>
							<td>Mulai</td>
							<td>:</td>
							<td class="text-right">00:00:00</td>
						</tr>
						<tr>
							<td>Durasi</td>
							<td>:</td>
							<td class="text-right">00:00:00</td>
						</tr>
						<tr>
							<td>Sisa</td>
							<td>:</td>
							<td class="text-right">00:00:00</td>
						</tr>
						<tr>
							<td>Table Guard</td>
							<td>:</td>
							<td class="text-right"></td>
						</tr>
					</table>
					<hr class="my-2 !border-t-2 !border-success-400" />
					<p class="h3 font-bold text-right">0</p>
				</section>
				<div class="p-2 bg-success-200">
					<div class=" flex grow justify-between">
						<div></div>
						<!-- <button type="button" class="btn variant-ghost inline-block">Billing</button> -->
						<button type="button" class="btn variant-filled-success inline-block">Open</button>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="flex flex-col gap-4">
			<span class="h4 font-semibold">Pending Bill</span>
			<div class="card card-hover variant-ringed-primary">
				<header class="card-header font-bold variant-filled-primary p-2">
					<span>Meja 1 - Fulan bin Fulan</span>
				</header>
				<section class="p-2 bg-primary-200 text-black">
					<p class="h3 font-bold text-right">940.000</p>
				</section>
				<div class="p-2 bg-primary-200">
					<div class=" flex grow justify-between">
						<a href="/station/billing" type="button" class="btn variant-ghost inline-block">Billing</a>
						<button type="button" class="btn variant-filled-primary inline-block">Bayar</button>
					</div>
				</div>
			</div>
			<div class="card card-hover variant-ringed-primary">
				<header class="card-header font-bold variant-filled-primary p-2">
					<span>Meja 1 - Fulan bin Fulan</span>
				</header>
				<section class="p-2 bg-primary-200 text-black">
					<p class="h3 font-bold text-right">940.000</p>
				</section>
				<div class="p-2 bg-primary-200">
					<div class=" flex grow justify-between">
						<a href="/station/billing" type="button" class="btn variant-ghost inline-block">Billing</a>
						<button type="button" class="btn variant-filled-primary inline-block">Bayar</button>
					</div>
				</div>
			</div>
			<div class="card card-hover variant-ringed-primary">
				<header class="card-header font-bold variant-filled-primary p-2">
					<span>Meja 1 - Fulan bin Fulan</span>
				</header>
				<section class="p-2 bg-primary-200 text-black">
					<p class="h3 font-bold text-right">940.000</p>
				</section>
				<div class="p-2 bg-primary-200">
					<div class=" flex grow justify-between">
						<a href="/station/billing" type="button" class="btn variant-ghost inline-block">Billing</a>
						<button type="button" class="btn variant-filled-primary inline-block">Bayar</button>
					</div>
				</div>
			</div>
		</div> -->
	</div>
</div>
