<script lang="ts">
	import Icon from '@iconify/svelte';
</script>

<div class="container h-full mx-auto justify-center items-center p-4">
	<h2 class="h2 font-bold">Pajak & Servis</h2>
	<ol class="breadcrumb mt-2 mb-4">
		<li>&nbsp;</li>
	</ol>

	<div class="grid grid-cols-2">
		<section class="grid grid-cols-2 gap-4">
			<label class="label">
				<p>Pajak</p>
				<div class="input-group input-group-divider grid-cols-[1fr_auto]">
					<input type="number" placeholder="xxx" class="text-right" />
					<div class="input-group-shim">%</div>
				</div>
			</label>
			<label class="label">
				<p>Service</p>
				<div class="input-group input-group-divider grid-cols-[1fr_auto]">
					<input type="number" placeholder="xxx" class="text-right" />
					<div class="input-group-shim">%</div>
				</div>
			</label>
			<div></div>
			<div class="text-right">
				<a href="#" type="button" class="btn variant-filled">Simpan</a>
			</div>
		</section>
	</div>
</div>
