<script lang="ts">
	import { getModalStore, type ModalComponent, type ModalSettings } from '@skeletonlabs/skeleton';
	import _fnb from './_fnb.svelte';
	const modalStore = getModalStore();

	const tableArr1 = [
		{ item: 'Lorem Ipsum', harga: '100.000', qty: 1, total: '100.000' },
		{ item: 'Lorem Ipsum', harga: '100.000', qty: 1, total: '100.000' },
		{ item: 'Lorem Ipsum', harga: '100.000', qty: 1, total: '100.000' },
		{ item: 'Lorem Ipsum', harga: '100.000', qty: 1, total: '100.000' },
		{ item: 'Lorem Ipsum', harga: '100.000', qty: 1, total: '100.000' }
	];
	const tableArr = [
		{ tarif: 'Tarif 2', jmljam: 2, harga: '200.000', qty: 1, total: '200.000' },
		{ tarif: 'Tarif 1', jmljam: 1, harga: '120.000', qty: 1, total: '120.000' },
		{ tarif: 'Tarif 1', jmljam: 1, harga: '120.000', qty: 1, total: '120.000' }
	];

	// const modal: ModalSettings = {
	// 	type: 'alert',
	// 	// Data
	// 	title: 'Example Alert',
	// 	body: 'This is an example modal.',
	// 	image: 'https://i.imgur.com/WOgTG96.gif'
	// };
	// modalStore.trigger(modal);

	function modalTim(): void {
		const component: ModalComponent = {
			ref: _fnb
		};

		const modal0: ModalSettings = {
			type: 'component',
			component: component,

			meta: {
				list: [1, 2, 3]
				// list2: $formKegiatan.dtPic.filter((item: { userId: string }) => item.userId)
			},
			response: (r: any) => {
				console.log('response:', r);
				// if (r) {
				// 	$formKegiatan.dtPic = r.map((x: string) => {
				// 		const result = data.ddTim.find((item: { tim_userId: string }) => item.tim_userId === x);
				// 		const tim = {
				// 			userId: result.tim_userId,
				// 			nm: result.tim_nm
				// 		};
				// 		return tim;
				// 	});
				// }
			}
		};
		modalStore.trigger(modal0);
	}
</script>

<div class="container h-full mx-auto justify-center items-center p-4">
	<div class="grid grid-cols-2">
		<section>
			<h2 class="h2 font-bold">Meja 1</h2>
			<ol class="breadcrumb mt-2 mb-4">
				<li class="crumb"><a class="anchor" href="/station">Station</a></li>
				<li class="crumb-separator" aria-hidden>&rsaquo;</li>
				<li>Meja 1</li>
			</ol>
		</section>
		<section class="text-right">
			<!-- <button type="button" class="btn variant-filled-success">Open</button> -->
			<a href="/station/bayar" type="button" class="btn variant-filled-warning">Checkout</a>
		</section>
	</div>

	<div class="grid grid-cols-3 gap-4">
		<section>
			<div class="card">
				<div class=" p-4">
					<table class="w-full">
						<tr>
							<td class="font-semibold">Mulai</td>
							<td>:</td>
							<td class="text-right">00:00:00</td>
						</tr>
						<tr>
							<td class="font-semibold">Durasi</td>
							<td>:</td>
							<td class="text-right">00:00:00</td>
						</tr>
						<tr>
							<td class="font-semibold">Sisa</td>
							<td>:</td>
							<td class="text-right">00:00:00</td>
						</tr>
						<tr>
							<td class="font-semibold">Table Guard</td>
							<td>:</td>
							<td class="text-right">Fulan</td>
						</tr>
						<tr class="text-xl font-semibold">
							<td>Total</td>
							<td>:</td>
							<td class="text-right">940.000</td>
						</tr>
					</table>

					<hr class="mt-4 mb-4" />

					<label class="label">
						<span>Nama Customer</span>
						<input class="input" type="text" placeholder="input text" />
					</label>
					<div class="grid grid-cols-2 gap-4">
						<div class="label space-y-2">
							<span>Jenis</span>
							<label class="flex items-center space-x-2">
								<input class="radio" type="radio" name="radio-direct" value="2" checked />
								<p>Menit</p>
							</label>
							<label class="flex items-center space-x-2">
								<input class="radio" type="radio" name="radio-direct" value="3" />
								<p>Jam</p>
							</label>
						</div>
						<label class="label">
							<span>Table Guard</span>
							<select class="select">
								<option value="1">Fulan</option>
								<option value="1">Fulan 1</option>
								<option value="1">Fulan 2</option>
							</select>
						</label>
					</div>
					<div class="grid grid-cols-2 gap-4">
						<label class="label">
							<span>Tarif</span>
							<select class="select">
								<option value="1">Tarif 1 (1 Jam)</option>
								<option value="1">Tarif 2</option>
								<option value="1">Tarif 3</option>
							</select>
						</label>
						<label class="label">
							<span>Jumlah</span>
							<input class="input" type="number" placeholder="input number" />
						</label>
					</div>
					<div class="text-right">
						<button type="button" class="btn variant-filled-success">Tambah</button>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="card">
				<header class="card-header p-4 flex justify-between variant-filled-surface">
					<p class="font-semibold">Table</p>
				</header>
				<div class="table-container">
					<table class="table table-hover table-compact">
						<thead class="!bg-surface-300">
							<tr>
								<th>Tarif</th>
								<th class="text-right">Jml Jam</th>
								<th class="text-right">Harga</th>
								<th class="text-right">Qty</th>
								<th class="text-right">Total</th>
							</tr>
						</thead>
						<tbody>
							{#each tableArr as row, i}
								<tr>
									<td>{row.tarif}</td>
									<td class="text-right">{row.jmljam}</td>
									<td class="text-right">{row.harga}</td>
									<td class="text-right">{row.qty}</td>
									<td class="text-right">{row.total}</td>
								</tr>
							{/each}
						</tbody>
						<tfoot>
							<tr class="font-semibold text-lg">
								<th colspan="4">Total</th>
								<td class="text-right">440.000</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</section>
		<section>
			<div class="card">
				<header class="card-header p-4 flex justify-between variant-filled-surface">
					<p class="font-semibold">Food and Beverages</p>
					<button type="button" class="btn btn-header variant-filled-success" on:click={modalTim}>Tambah F&B</button>
				</header>
				<div class="table-container">
					<table class="table table-hover table-compact">
						<thead class="!bg-surface-300">
							<tr>
								<th>Item</th>
								<th class="text-right">Harga</th>
								<th class="text-right">Qty</th>
								<th class="text-right">Total</th>
							</tr>
						</thead>
						<tbody>
							{#each tableArr1 as row, i}
								<tr>
									<td>{row.item}</td>
									<td class="text-right">{row.harga}</td>
									<td class="text-right">{row.qty}</td>
									<td class="text-right">{row.total}</td>
								</tr>
							{/each}
						</tbody>
						<tfoot>
							<tr class="font-semibold text-lg">
								<th colspan="3">Total</th>
								<td class="text-right">500.000</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</section>
		<div class="text-right">
			<!-- <button type="button" class="btn variant-filled-success">Simpan</button>
			<button type="button" class="btn variant-filled-error">Batal</button> -->
		</div>
	</div>
</div>
