<script lang="ts">
	import { ListBox, ListBoxItem, getModalStore } from '@skeletonlabs/skeleton';
	const modalStore = getModalStore();

	export let parent: any;

	// let list = $modalStore[0].meta?.list;
	let filterTxt: string;

	// // Handle Form Amount
	function onFormSubmit(): void {
		if ($modalStore[0].response) $modalStore[0].response(null);
		modalStore.close();
	}

	// function filterList() {
	// 	list = $modalStore[0].meta?.list.filter((item: { tim_nm: string }) =>
	// 		item.tim_nm.toLowerCase().includes(filterTxt.toLowerCase())
	// 	);
	// }
	const tableArr1 = [
		{ item: 'Lorem Ipsum', harga: '100.000', qty: 1, total: '100.000' },
		{ item: 'Lorem Ipsum', harga: '100.000', qty: 1, total: '100.000' },
		{ item: 'Lorem Ipsum', harga: '100.000', qty: 1, total: '100.000' },
		{ item: 'Lorem Ipsum', harga: '100.000', qty: 1, total: '100.000' },
		{ item: 'Lorem Ipsum', harga: '100.000', qty: 1, total: '100.000' }
	];
	// console.log($modalStore);

	// Base Classes
	const cBase = 'card p-4 w-modal shadow-2xl space-y-4';
</script>

<!-- {#if $modalStore[0]} -->
<div class={cBase}>
	<label>
		<span class="label">Filter:</span>
		<input type="text" bind:value={filterTxt} />
	</label>

	<div class="table-container">
		<table class="table table-hover table-compact">
			<thead>
				<tr>
					<th></th>
					<th>Item</th>
					<th class="text-right">Harga</th>
					<th class="text-right">Qty</th>
					<th class="text-right">Total</th>
				</tr>
			</thead>
			<tbody>
				{#each tableArr1 as row, i}
					<tr>
						<td><input class="checkbox" type="checkbox" value={i} /></td>
						<td>{row.item}</td>
						<td class="text-right">{row.harga}</td>
						<td class="text-right">{row.qty}</td>
						<td class="text-right">{row.total}</td>
					</tr>
				{/each}
			</tbody>
		</table>
	</div>

	<!-- <ListBox multiple class="border border-surface-500 p-4">
			{#each list as l}
				<ListBoxItem bind:group={team} name={l.tim_userId} value={l.tim_userId}>
					{l.tim_nm} <small>({l.tim_jabatan})</small>
				</ListBoxItem>
			{/each}
		</ListBox> -->
	<div class="text-right">
		<button type="button" class="btn variant-filled-success">Tambah</button>
	</div>
	<!-- 
	<footer class="modal-footer">
		<button class="btn" on:click|preventDefault={parent.onClose}>Batal</button>
		<button class="btn" on:click={onFormSubmit}>Tambah</button>
	</footer> -->
</div>
<!-- {/if} -->
