<script lang="ts">
	import { page } from '$app/stores';
</script>

<div class="grid gap-4 grid-cols-[200px_auto]">
	<section class="h-[calc(100vh-68px)] sticky top-0 p-4 pb-20 space-y-4 overflow-y-auto">
		<p class="font-bold pl-4 text-2xl">Stok</p>
		<nav class="list-nav">
			<ul>
				<li>
					<a
						href="/stok/riwayat"
						class={$page.route.id?.includes('/stok/riwayat') ? 'bg-primary-active-token' : ''}
						data-sveltekit-preload-data="hover"
						><span class="flex-auto">Riwayat</span>
					</a>
				</li>
				<li>
					<a
						href="/stok/masuk"
						class={$page.route.id?.includes('/stok/masuk') ? 'bg-primary-active-token' : ''}
						data-sveltekit-preload-data="hover"
						><span class="flex-auto">Masuk</span>
					</a>
				</li>
				<li>
					<a
						href="/stok/keluar"
						class={$page.route.id?.includes('/stok/keluar') ? 'bg-primary-active-token' : ''}
						data-sveltekit-preload-data="hover"
						><span class="flex-auto">Keluar</span>
					</a>
				</li>
			</ul>
		</nav>
		<hr class="!my-6 opacity-50" />
	</section>
	<slot />
</div>
