<script lang="ts">
	import Grid from 'gridjs-svelte';
	import { html, h } from 'gridjs';
	import { tblStyle } from '$lib/store';

	const columns = [
		{
			name: 'Tanggal'
		},
		{
			name: 'Jenis'
		},
		{
			name: 'Jumlah'
		},
		{
			name: 'Keterangan'
		},
		{
			name: 'Aksi',
			formatter: (cell: any) => {
				const btnEdit = html(`
					<a href="/stok/riwayat/1" class="btn btn-sm variant-filled">
						Detail
					</a>
				`);

				const btns: any[] = [];
				return btns;
			}
		}
	];
	const defData = [
		['2024-01-01 08:00', 'Masuk', 10, 'IN-24-01-0001'],
		['2024-01-01 08:00', 'Masuk', 10, 'IN-24-01-0001'],
		['2024-01-01 08:00', 'Masuk', 10, 'IN-24-01-0001'],
		['2024-01-01 08:00', 'Masuk', 10, 'IN-24-01-0001'],
		['2024-01-02 08:00', 'Keluar', 2, 'TRX24010001'],
		['2024-01-02 08:00', 'Keluar', 2, 'TRX24010001'],
		['2024-01-02 08:00', 'Keluar', 2, 'TRX24010001'],
		['2024-01-02 08:00', 'Keluar', 2, 'TRX24010001'],
		['2024-01-02 08:00', 'Keluar', 2, 'TRX24010001'],
		['2024-01-02 08:00', 'Keluar', 2, 'TRX24010001'],
		['2024-01-02 08:00', 'Keluar', 2, 'TRX24010001'],
		['2024-01-02 08:00', 'Keluar', 2, 'TRX24010001'],
		['2024-01-02 08:00', 'Keluar', 2, 'TRX24010001'],
		['2024-01-02 08:00', 'Keluar', 2, 'TRX24010001'],
		['2024-01-02 08:00', 'Keluar', 2, 'TRX24010001'],
		['2024-01-02 08:00', 'Keluar', 2, 'TRX24010001'],
		['2024-01-02 08:00', 'Keluar', 2, 'TRX24010001']
	];
</script>

<div class="container h-full mx-auto justify-center items-center p-4">
	<h2 class="h2 font-bold">Lorem Ipsum</h2>
	<ol class="breadcrumb mt-2 mb-4">
		<li>Stok</li>
		<li class="crumb-separator" aria-hidden>&rsaquo;</li>
		<li class="crumb"><a class="anchor" href="/stok/riwayat">Riwayat</a></li>
		<li class="crumb-separator" aria-hidden>&rsaquo;</li>
		<li>Lorem Ipsum</li>
	</ol>

	<Grid {columns} pagination={{ enabled: true, limit: 10 }} data={defData} style={$tblStyle} />
</div>
