<script lang="ts">
	import Grid from 'gridjs-svelte';
	import { html, h } from 'gridjs';
	import { tblStyle } from '$lib/store';

	const columns = [
		{
			name: 'Kode'
		},
		{
			name: 'Nama'
		},
		{
			name: 'Jenis'
		},
		{
			name: 'Kategori'
		},
		{
			name: 'Harga',
			formatter: (cell: any) => {
				// console.log(cell);
				return html(`
					<div class='text-right'>
						${cell}
					</div>
				`);
			}
		},
		{
			name: 'Stok',
			formatter: (cell: any) => {
				// console.log(cell);
				return html(`
					<div class='text-right'>
						${cell}
					</div>
				`);
			}
		},
		{
			name: 'Satuan'
		},
		{
			name: 'Aksi',
			formatter: (cell: any) => {
				const btnEdit = html(`
					<a href="/stok/riwayat/1" class="btn btn-sm variant-filled">
						Detail
					</a>
				`);

				const btns: any[] = [btnEdit];
				return btns;
			}
		}
	];
	const defData = [
		['xxx', 'Lorem Ipsum', 'Lorem', 'ipsum', '50.000', '100', 'PCS'],
		['xxx', 'Lorem Ipsum', 'Lorem', 'ipsum', '50.000', '100', 'PCS'],
		['xxx', 'Lorem Ipsum', 'Lorem', 'ipsum', '50.000', '100', 'PCS'],
		['xxx', 'Lorem Ipsum', 'Lorem', 'ipsum', '50.000', '100', 'PCS'],
		['xxx', 'Lorem Ipsum', 'Lorem', 'ipsum', '50.000', '100', 'PCS'],
		['xxx', 'Lorem Ipsum', 'Lorem', 'ipsum', '50.000', '100', 'PCS']
	];
</script>

<div class="container h-full mx-auto justify-center items-center p-4">
	<h2 class="h2 font-bold">Produk</h2>
	<ol class="breadcrumb mt-2 mb-4">
		<li>Settings</li>
		<li class="crumb-separator" aria-hidden>&rsaquo;</li>
		<li>Produk</li>
	</ol>

	<a href="/settings/produk/edit/new" type="button" class="btn variant-filled float-right mt-[-88px]">Tambah</a>
	<Grid {columns} search pagination={{ enabled: true, limit: 10 }} data={defData} style={$tblStyle} />
</div>
