<script lang="ts">
	import Icon from '@iconify/svelte';

	// export let data: PageData;
</script>

<div class="container h-full mx-auto justify-center items-center p-4">
	<h2 class="h2 font-bold">Produk Baru</h2>
	<ol class="breadcrumb mt-2 mb-4">
		<li>Settings</li>
		<li class="crumb-separator" aria-hidden>&rsaquo;</li>
		<li class="crumb"><a class="anchor" href="/settings/produk">Produk</a></li>
		<li class="crumb-separator" aria-hidden>&rsaquo;</li>
		<li>Produk Baru</li>
	</ol>

	<div class="grid grid-cols-2 gap-4">
		<div class="grid grid-cols-1 gap-0">
			<!-- <div class="space-y-2">
					<label class="flex items-center space-x-2">
						<input class="radio" type="radio" name="radio-direct" value="1" />
						<p>Hotspot</p>
					</label>
					<label class="flex items-center space-x-2">
						<input class="radio" type="radio" name="radio-direct" value="2" checked />
						<p>Bayar Depan</p>
					</label>
					<label class="flex items-center space-x-2">
						<input class="radio" type="radio" name="radio-direct" value="3" />
						<p>Bayar Belakang</p>
					</label>
				</div>
				<label class="label">
					<span>User</span>
					<div class="input-group input-group-divider grid-cols-[1fr_auto]">
						<input type="text" placeholder="Enter Username..." />
						<a href="/" title="Username already in use.">
							<Icon icon="clarity:search-line" />
						</a>
					</div>
				</label>
				<label class="label">
					<span>Profil</span>
					<select class="select">
						<option value="1">Promo</option>
					</select>
				</label> -->
			<label class="label">
				<span>Nama Barang</span>
				<input class="input" title="Input (text)" type="text" placeholder="input text" />
			</label>
			<label class="label">
				<span>Jenis</span>
				<div class="space-y-2">
					<label class="flex items-center space-x-2">
						<input class="radio" type="radio" name="radio-direct" value="1" checked />
						<p>Makanan</p>
					</label>
					<label class="flex items-center space-x-2">
						<input class="radio" type="radio" name="radio-direct" value="2" />
						<p>Miniman</p>
					</label>
				</div>
			</label>
			<label class="label">
				<span>Harga</span>
				<input class="input" type="number" placeholder="input number" />
			</label>
			<div class="grid grid-cols-2 gap-4">
				<label class="label">
					<span>Pajak Main (%)</span>
					<input class="input" type="number" placeholder="input number" />
				</label>
				<label class="label">
					<span>Pajak F&B (%)</span>
					<input class="input" type="number" placeholder="input number" />
				</label>
			</div>
			<label class="label">
				<span>Satuan</span>
				<input class="input" title="Input (text)" type="text" placeholder="input text" />
			</label>
			<label class="label">
				<span>Stok Awal</span>
				<input class="input" type="number" placeholder="input number" />
			</label>
		</div>
		<div class="grid grid-cols-1 gap-4"></div>
		<div></div>
		<div class="text-right">
			<button type="button" class="btn variant-filled-primary">Simpan</button>
			<button type="button" class="btn variant-ghost">Batal</button>
		</div>
	</div>
</div>
