<script lang="ts">
	import Icon from '@iconify/svelte';

	const tableArr = [
		{ tarif: 'Tarif 2', jmljam: 2, harga: '200.000', qty: 1, total: '200.000' },
		{ tarif: 'Tarif 1', jmljam: 1, harga: '120.000', qty: 1, total: '120.000' },
		{ tarif: 'Tarif 1', jmljam: 1, harga: '120.000', qty: 1, total: '120.000' }
	];
	const tableArr1 = [
		{ item: 'Lorem Ipsum', harga: '100.000', qty: 1, total: '100.000' },
		{ item: 'Lorem Ipsum', harga: '100.000', qty: 1, total: '100.000' },
		{ item: 'Lorem Ipsum', harga: '100.000', qty: 1, total: '100.000' },
		{ item: 'Lorem Ipsum', harga: '100.000', qty: 1, total: '100.000' },
		{ item: 'Lorem Ipsum', harga: '100.000', qty: 1, total: '100.000' }
	];
</script>

<div class="container h-full mx-auto justify-center items-center p-4">
	<div class="grid grid-cols-2">
		<section>
			<h2 class="h2 font-bold">Bayar Meja 1</h2>
			<ol class="breadcrumb mt-2 mb-4">
				<li class="crumb"><a class="anchor" href="/station">Station</a></li>
				<li class="crumb-separator" aria-hidden>&rsaquo;</li>
				<li><a class="anchor" href="/station/billing">Meja 1</a></li>
				<li class="crumb-separator" aria-hidden>&rsaquo;</li>
				<li>Bayar</li>
			</ol>
		</section>
		<section class="text-right">
			<!-- <button type="button" class="btn variant-filled-success">Open</button> -->
			<!-- <button type="button" class="btn variant-filled-warning">Bayar</button> -->
		</section>
	</div>

	<div class="grid grid-cols-3 gap-4">
		<section class="flex flex-col gap-2">
			<div class="card">
				<header class="card-header p-4 flex justify-between variant-filled-surface">
					<p class="font-semibold">Table</p>
				</header>
				<div class="table-container">
					<table class="table table-hover table-compact">
						<thead class="!bg-surface-300">
							<tr>
								<th>Tarif</th>
								<th class="text-right">Jml Jam</th>
								<th class="text-right">Harga</th>
								<th class="text-right">Qty</th>
								<th class="text-right">Total</th>
							</tr>
						</thead>
						<tbody>
							{#each tableArr as row, i}
								<tr>
									<td>{row.tarif}</td>
									<td class="text-right">{row.jmljam}</td>
									<td class="text-right">{row.harga}</td>
									<td class="text-right">{row.qty}</td>
									<td class="text-right">{row.total}</td>
								</tr>
							{/each}
						</tbody>
						<tfoot>
							<tr class="font-semibold text-lg">
								<th colspan="4">Total</th>
								<td class="text-right">440.000</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
			<div class="card">
				<header class="card-header p-4 flex justify-between variant-filled-surface">
					<p class="font-semibold">Food and Beverages</p>
				</header>
				<div class="table-container">
					<table class="table table-hover table-compact">
						<thead class="!bg-surface-300">
							<tr>
								<th>Item</th>
								<th class="text-right">Harga</th>
								<th class="text-right">Qty</th>
								<th class="text-right">Total</th>
							</tr>
						</thead>
						<tbody>
							{#each tableArr1 as row, i}
								<tr>
									<td>{row.item}</td>
									<td class="text-right">{row.harga}</td>
									<td class="text-right">{row.qty}</td>
									<td class="text-right">{row.total}</td>
								</tr>
							{/each}
						</tbody>
						<tfoot>
							<tr class="font-semibold text-lg">
								<th colspan="3">Total</th>
								<td class="text-right">500.000</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</section>
		<div class="card">
			<header class="card-header p-4 flex justify-between variant-filled-surface">
				<p class="font-semibold">Rincian</p>
			</header>
			<section class="p-4 space-y-4">
				<div class="grid grid-cols-[100px_20px_auto]">
					<p class="font-semibold">Tanggal</p>
					<p>:</p>
					<p class="text-right">01-01-2024 12:05</p>
				</div>
				<div class="grid grid-cols-[100px_20px_auto]">
					<p class="font-semibold">Table Guard</p>
					<p>:</p>
					<p class=" text-right">Fulan</p>
				</div>
				<div class="grid grid-cols-[100px_20px_auto]">
					<p class="font-semibold">Mulai</p>
					<p>:</p>
					<p class="text-right">08:00:00</p>
				</div>
				<div class="grid grid-cols-[100px_20px_auto]">
					<p class="font-semibold">Selesai</p>
					<p>:</p>
					<p class="text-right">12:00:00</p>
				</div>
				<div class="grid grid-cols-[100px_20px_auto]">
					<p class="font-semibold">Durasi</p>
					<p>:</p>
					<p class="text-right">4 Jam</p>
				</div>

				<hr class="mt-4 mb-4" />

				<div class="grid grid-cols-[100px_20px_auto]">
					<p class="font-semibold">Total Table</p>
					<p>:</p>
					<p class="text-right">440.000</p>
				</div>
				<div class="grid grid-cols-[100px_20px_auto]">
					<p class="font-semibold">Diskon Table</p>
					<p>:</p>
					<p class="" style="padding: 0;">
						<input type="number" class="input w-full text-right input-rincian-billing" value="44000" />
					</p>
				</div>
				<div class="grid grid-cols-[100px_20px_auto]">
					<p class="font-semibold">Total F&B</p>
					<p>:</p>
					<p class="text-right">500.000</p>
				</div>
				<div class="grid grid-cols-[100px_20px_auto]">
					<p class="font-semibold">Diskon F&B</p>
					<p>:</p>
					<p class="" style="padding: 0;">
						<input type="number" class="input w-full text-right input-rincian-billing" value="50000" />
					</p>
				</div>

				<hr class="mt-4 mb-4" />

				<div class="grid grid-cols-[100px_20px_auto]">
					<p class="font-semibold">Subtotal</p>
					<p>:</p>
					<p class="font-semibold text-right">846.000</p>
				</div>
				<div class="grid grid-cols-[100px_20px_auto]">
					<p class="font-semibold">PPN (11%)</p>
					<p>:</p>
					<p class="text-right">93.060</p>
				</div>
				<div class="grid grid-cols-[100px_20px_auto]">
					<p class="font-semibold">Service (10%)</p>
					<p>:</p>
					<p class="text-right">84.600</p>
				</div>

				<div class="flex justify-between text-xl font-bold">
					<p>Grand Total</p>
					<p>1.023.660</p>
				</div>
			</section>
			<div class="table-container hidden">
				<table class="table table-rincian-billing table-fixed border-separate border-spacing-1">
					<tbody>
						<tr>
							<td class="w-[200px]">Tanggal</td>
							<td class="text-right">01-01-2024 12:05</td>
						</tr>
						<tr>
							<td class="">Table Guard</td>
							<td class=" text-right">Fulan</td>
						</tr>
						<tr>
							<td>Mulai</td>
							<td class="text-right">08:00:00</td>
						</tr>
						<tr>
							<td>Selesai</td>
							<td class="text-right">12:00:00</td>
						</tr>
						<tr>
							<td>Durasi</td>
							<td class="text-right">4 Jam</td>
						</tr>
						<tr>
							<td>Total Table</td>
							<td class="text-right">440.000</td>
						</tr>
						<tr>
							<td>Diskon Table</td>
							<td class="" style="padding: 0;">
								<input type="number" class="w-full text-right input-rincian-billing" value="44000" />
							</td>
						</tr>
						<tr>
							<td>Total F&B</td>
							<td class="text-right">500.000</td>
						</tr>
						<tr>
							<td>Diskon F&B</td>
							<td class="" style="padding: 0;">
								<input type="number" class="w-full text-right input-rincian-billing" value="50000" />
							</td>
							<!-- <td class="text-right">50.000</td> -->
						</tr>
						<tr>
							<td class="font-semibold">Subtotal</td>
							<td class="font-semibold text-right">846.000</td>
						</tr>
						<tr>
							<td>PPN (11%)</td>
							<td class="text-right">93.060</td>
						</tr>
						<tr>
							<td>Service (10%)</td>
							<td class="text-right">84.600</td>
						</tr>
					</tbody>
					<tfoot>
						<tr class="font-bold">
							<td class="text-xl">Grand Total </td>
							<td class="text-xl text-right">1.023.660</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
		<div class="card">
			<header class="card-header p-4 flex justify-between variant-filled-surface">
				<p class="font-semibold">Pembayaran</p>
			</header>
			<section class="p-4 space-y-4">
				<div class="flex justify-around">
					<label class="flex items-center space-x-2">
						<input class="radio" type="radio" checked name="radio-direct" value="1" />
						<p>Cash</p>
					</label>
					<label class="flex items-center space-x-2">
						<input class="radio" type="radio" name="radio-direct" value="2" />
						<p>QR</p>
					</label>
					<label class="flex items-center space-x-2">
						<input class="radio" type="radio" name="radio-direct" value="3" />
						<p>Debit</p>
					</label>
					<label class="flex items-center space-x-2">
						<input class="radio" type="radio" name="radio-direct" value="3" />
						<p>Transfer</p>
					</label>
				</div>
				<!-- <div class="flex justify-between text-xl font-bold">
					<p>Grand Total</p>
					<p>1.023.660</p>
				</div> -->
				<label class="label">
					<span>Ref</span>
					<input class="input text-right" type="text" placeholder="Input" />
				</label>
				<label class="label">
					<span>Uang Diterima</span>
					<input class="input text-right" type="number" placeholder="Input" />
				</label>
				<div class="flex justify-between text-xl font-bold">
					<p>Uang Kembalian</p>
					<p>0</p>
				</div>
				<button type="button" class="btn variant-filled-success w-full">
					<span><Icon icon="ph:money-fill" /></span>
					<span>Bayar</span>
				</button>
				<button type="button" class="btn variant-filled-tertiary w-full">
					<span><Icon icon="clarity:printer-solid" /></span>
					<span>Cetak</span>
				</button>
			</section>
			<!-- <div class="table-container">
				<table class="table">
					<tbody> </tbody>
					<tfoot>
						<tr class="font-bold">
							<td class="text-xl">Grand Total </td>
							<td class="text-xl text-right">1.023.660</td>
						</tr>
					</tfoot>
				</table>
			</div> -->
		</div>
	</div>
</div>
