<script lang="ts">
	import Icon from '@iconify/svelte';

	// export let data: PageData;
</script>

<div class="container h-full mx-auto justify-center items-center p-4">
	<h2 class="h2 font-bold">Tarif Baru</h2>
	<ol class="breadcrumb mt-2 mb-4">
		<li>Settings</li>
		<li class="crumb-separator" aria-hidden>&rsaquo;</li>
		<li class="crumb"><a class="anchor" href="/settings/tarif">Tarif</a></li>
		<li class="crumb-separator" aria-hidden>&rsaquo;</li>
		<li>Tarif Baru</li>
	</ol>

	<div class="grid grid-cols-2 gap-4">
		<div class="grid grid-cols-1 gap-0">
			<div class="label space-y-2">
				<span>Jenis</span>
				<label class="flex items-center space-x-2">
					<input class="radio" type="radio" name="radio-direct" value="1" checked />
					<p>Menit</p>
				</label>
				<label class="flex items-center space-x-2">
					<input class="radio" type="radio" name="radio-direct" value="2" />
					<p>Jam</p>
				</label>
			</div>

			<!-- 
				<label class="label">
					<span>User</span>
					<div class="input-group input-group-divider grid-cols-[1fr_auto]">
						<input type="text" placeholder="Enter Username..." />
						<a href="/" title="Username already in use.">
							<Icon icon="clarity:search-line" />
						</a>
					</div>
				</label>
				<label class="label">
					<span>Profil</span>
					<select class="select">
						<option value="1">Promo</option>
					</select>
				</label> -->
			<label class="label">
				<span>Nama Tarif</span>
				<input class="input" title="Input (text)" type="text" placeholder="input text" />
			</label>
			<label class="label">
				<span>Waktu</span>
				<div class="input-group input-group-divider grid-cols-[1fr_auto]">
					<input type="number" placeholder="input number" />
					<div class="input-group-shim">Jam</div>
				</div>
			</label>
			<label class="label">
				<span>Harga</span>
				<input class="input" type="number" placeholder="input number" />
			</label>
		</div>
		<div class="grid grid-cols-1 gap-4"></div>
		<div></div>
		<div class="text-right">
			<button type="button" class="btn variant-filled-primary">Simpan</button>
			<button type="button" class="btn variant-ghost">Batal</button>
		</div>
	</div>
</div>
