<script lang="ts">
	import { page } from '$app/stores';
	// import type { LayoutData } from './$types';

	// export let data: LayoutData;
	// console.log($page);
</script>

<div class="grid gap-4 grid-cols-[200px_auto]">
	<section class="h-[calc(100vh-68px)] sticky top-0 p-4 pb-20 space-y-4 overflow-y-auto">
		<p class="font-bold pl-4 text-2xl">Settings</p>
		<nav class="list-nav">
			<ul>
				<li>
					<a
						href="/settings/station"
						class={$page.route.id?.includes('/settings/station') ? 'bg-primary-active-token' : ''}
						data-sveltekit-preload-data="hover"
						><span class="flex-auto">Station</span>
					</a>
				</li>
				<li>
					<a
						href="/settings/tarif"
						class={$page.route.id?.includes('/settings/tarif') ? 'bg-primary-active-token' : ''}
						data-sveltekit-preload-data="hover"
						><span class="flex-auto">Tarif</span>
					</a>
				</li>
				<li>
					<a
						href="/settings/produk"
						class={$page.route.id?.includes('/settings/produk') ? 'bg-primary-active-token' : ''}
						data-sveltekit-preload-data="hover"
						><span class="flex-auto">Produk</span>
					</a>
				</li>
				<li>
					<a
						href="/settings/pajak-servis"
						class={$page.route.id?.includes('/settings/pajak-servis') ? 'bg-primary-active-token' : ''}
						data-sveltekit-preload-data="hover"
						><span class="flex-auto">Pajak & Servis</span>
					</a>
				</li>
			</ul>
		</nav>
		<hr class="!my-6 opacity-50" />
		<!-- <p class="font-bold pl-4 text-2xl">Essentials</p>
		<nav class="list-nav">
			<ul>
				<li>
					<a href="/docs/themes" class="" data-sveltekit-preload-data="hover"><span class="flex-auto">Themes</span> </a>
				</li>
				<li>
					<a href="/docs/colors" class="" data-sveltekit-preload-data="hover"><span class="flex-auto">Colors</span> </a>
				</li>
				<li>
					<a href="/docs/styling" class="" data-sveltekit-preload-data="hover"
						><span class="flex-auto">Styling</span>
					</a>
				</li>
				<li>
					<a href="/docs/tokens" class="" data-sveltekit-preload-data="hover"
						><span class="flex-auto">Design Tokens</span>
					</a>
				</li>
				<li>
					<a href="/docs/variants" class="" data-sveltekit-preload-data="hover"
						><span class="flex-auto">Variants</span>
					</a>
				</li>
				<li>
					<a href="/docs/transitions" class="" data-sveltekit-preload-data="hover"
						><span class="flex-auto">Transitions</span>
					</a>
				</li>
			</ul>
		</nav> -->
	</section>
	<slot />
</div>
