<script lang="ts">
	import Grid from 'gridjs-svelte';
	import { html, h } from 'gridjs';
	import { tblStyle } from '$lib/store';
	import Icon from '@iconify/svelte';

	const columns = [
		{
			name: 'No Trx'
		},
		{
			name: 'Tanggal'
		},
		{
			name: 'Nama Produk'
		},
		{
			name: 'Jumlah'
		},
		{
			name: 'Keterangan'
		},
		{
			name: 'Aksi',
			formatter: (cell: any) => {
				return html(`
					<a href="/" class=" btn-icon btn-icon-sm ">
						<Icon icon="clarity:search-line" />
					</a>
				`);
			}
		}
	];
	const defData = [
		['IN-24-01-0001', '2024-01-01 08:00', 'Lorem Ipsum', 10, 'Lorem ipsum dolor sit amet'],
		['IN-24-01-0001', '2024-01-01 08:00', 'Lorem Ipsum', 10, 'Lorem ipsum dolor sit amet'],
		['IN-24-01-0001', '2024-01-01 08:00', 'Lorem Ipsum', 10, 'Lorem ipsum dolor sit amet'],
		['IN-24-01-0001', '2024-01-01 08:00', 'Lorem Ipsum', 10, 'Lorem ipsum dolor sit amet'],
		['IN-24-01-0001', '2024-01-01 08:00', 'Lorem Ipsum', 10, 'Lorem ipsum dolor sit amet'],
		['IN-24-01-0001', '2024-01-01 08:00', 'Lorem Ipsum', 10, 'Lorem ipsum dolor sit amet'],
		['IN-24-01-0001', '2024-01-01 08:00', 'Lorem Ipsum', 10, 'Lorem ipsum dolor sit amet'],
		['IN-24-01-0001', '2024-01-01 08:00', 'Lorem Ipsum', 10, 'Lorem ipsum dolor sit amet'],
		['IN-24-01-0001', '2024-01-01 08:00', 'Lorem Ipsum', 10, 'Lorem ipsum dolor sit amet'],
		['IN-24-01-0001', '2024-01-01 08:00', 'Lorem Ipsum', 10, 'Lorem ipsum dolor sit amet'],
		['IN-24-01-0001', '2024-01-01 08:00', 'Lorem Ipsum', 10, 'Lorem ipsum dolor sit amet'],
		['IN-24-01-0001', '2024-01-01 08:00', 'Lorem Ipsum', 10, 'Lorem ipsum dolor sit amet'],
		['IN-24-01-0001', '2024-01-01 08:00', 'Lorem Ipsum', 10, 'Lorem ipsum dolor sit amet']
	];
</script>

<div class="container h-full mx-auto justify-center items-center p-4">
	<h2 class="h2 font-bold">Stok Masuk</h2>
	<ol class="breadcrumb mt-2 mb-4">
		<li>Stok</li>
		<li class="crumb-separator" aria-hidden>&rsaquo;</li>
		<li>Masuk</li>
	</ol>

	<a href="/stok/masuk/edit/new" type="button" class="btn variant-filled float-right mt-[-88px]">Tambah</a>
	<Grid {columns} search pagination={{ enabled: true, limit: 10 }} data={defData} style={$tblStyle} />
</div>
