<script lang="ts">
	import { tblStyle } from '$lib/store';
	import Grid from 'gridjs-svelte';
	import { html } from 'gridjs';
	import Icon from '@iconify/svelte';
	import SveltyPicker from 'svelty-picker';
	import dayjs from 'dayjs';

	let tgl = dayjs().format('DD-MM-YYYY');
	const columns = [
		{
			name: 'Tanggal'
		},
		{
			name: 'Station'
		},
		{
			name: 'Tbl. Guard'
		},
		{
			name: 'Total',
			formatter: (cell: any) => {
				// console.log(cell);
				return html(`
					<div class='text-right'>
						${cell}
					</div>
				`);
			}
		},
		{
			name: 'Duration'
		},
		{
			name: 'Time'
		},
		{
			name: 'Trx ID'
		},
		{
			name: 'Aksi',
			formatter: (cell: any) => {
				const btnDtl = `
					<a href="/" title="Detail" class="rounded-sm btn-icon btn-icon-sm variant-filled-secondary">
						<iconify-icon icon="clarity:eye-solid" observer="false"></iconify-icon>
					</a>
				`;
				const btnPrint = `
					<a href="/" title="Hapus" class="rounded-sm btn-icon btn-icon-sm variant-filled-tertiary">
						<iconify-icon icon="clarity:printer-solid" observer="false"></iconify-icon>
					</a>
				`;
				return html(`
					<div class="flex gap-2">
						${btnDtl + btnPrint}
					</div>
				`);
			}
		}
	];
	const defData = [
		[tgl + ' 01:02', 'Meja01', 'Lorem', '50.000', '02:00:00', '01:00:00', 'TRX00001'],
		[tgl + ' 01:02', 'Meja01', 'Lorem', '50.000', '02:00:00', '01:00:00', 'TRX00001'],
		[tgl + ' 01:02', 'Meja01', 'Lorem', '50.000', '02:00:00', '01:00:00', 'TRX00001'],
		[tgl + ' 01:02', 'Meja01', 'Lorem', '50.000', '02:00:00', '01:00:00', 'TRX00001'],
		[tgl + ' 01:02', 'Meja01', 'Lorem', '50.000', '02:00:00', '01:00:00', 'TRX00001'],
		[tgl + ' 01:02', 'Meja01', 'Lorem', '50.000', '02:00:00', '01:00:00', 'TRX00001'],
		[tgl + ' 01:02', 'Meja01', 'Lorem', '50.000', '02:00:00', '01:00:00', 'TRX00001'],
		[tgl + ' 01:02', 'Meja01', 'Lorem', '50.000', '02:00:00', '01:00:00', 'TRX00001'],
		[tgl + ' 01:02', 'Meja01', 'Lorem', '50.000', '02:00:00', '01:00:00', 'TRX00001'],
		[tgl + ' 01:02', 'Meja01', 'Lorem', '50.000', '02:00:00', '01:00:00', 'TRX00001'],
		[tgl + ' 01:02', 'Meja01', 'Lorem', '50.000', '02:00:00', '01:00:00', 'TRX00001'],
		[tgl + ' 01:02', 'Meja01', 'Lorem', '50.000', '02:00:00', '01:00:00', 'TRX00001'],
		[tgl + ' 01:02', 'Meja01', 'Lorem', '50.000', '02:00:00', '01:00:00', 'TRX00001'],
		[tgl + ' 01:02', 'Meja01', 'Lorem', '50.000', '02:00:00', '01:00:00', 'TRX00001'],
		[tgl + ' 01:02', 'Meja01', 'Lorem', '50.000', '02:00:00', '01:00:00', 'TRX00001'],
		[tgl + ' 01:02', 'Meja01', 'Lorem', '50.000', '02:00:00', '01:00:00', 'TRX00001'],
		[tgl + ' 01:02', 'Meja01', 'Lorem', '50.000', '02:00:00', '01:00:00', 'TRX00001'],
		[tgl + ' 01:02', 'Meja01', 'Lorem', '50.000', '02:00:00', '01:00:00', 'TRX00001'],
		[tgl + ' 01:02', 'Meja01', 'Lorem', '50.000', '02:00:00', '01:00:00', 'TRX00001']
	];
</script>

<div class="container h-full mx-auto justify-center items-center p-4">
	<div class="grid grid-cols-2">
		<section>
			<h2 class="h2 font-bold">Riwayat</h2>
			<ol class="breadcrumb mt-2 mb-4">
				<li class="crumb"><a class="anchor" href="/station">Station</a></li>
				<li class="crumb-separator" aria-hidden>&rsaquo;</li>
				<li>Riwayat</li>
			</ol>
		</section>
		<section class="flex justify-end gap-4">
			<span class="font-semibold">Penjualan {tgl} : </span>
			<span class="font-bold h2">3.456.789</span>
		</section>
	</div>
	<div class="grid grid-cols-2 mb-4">
		<section>
			<SveltyPicker name="tgl1" format="dd-mm-yyyy" bind:value={tgl} />
			<div class="grid grid-col-3"></div>
		</section>
		<section></section>
		<!-- <div class="input-group input-group-divider grid-cols-[auto_1fr_auto]">
			<div class="input-group-shim"><Icon icon="clarity:circle-arrow-solid" class="-rotate-90 scale-150" /></div>
			<div class="input-group-shim"><Icon icon="clarity:circle-arrow-solid" class="rotate-90 scale-150" /></div>
		</div> -->
	</div>

	<Grid {columns} pagination={{ enabled: true, limit: 10 }} data={defData} style={$tblStyle} />
</div>
