<script lang="ts">
	import Icon from '@iconify/svelte';
	import { Table, tableMapperValues, type TableSource } from '@skeletonlabs/skeleton';

	const sourceData = [
		{ position: 1, item: 'Lorem Ipsum', price: '100.000', qty: 1, total: '100.000' },
		{ position: 2, item: 'Lorem Ipsum', price: '100.000', qty: 1, total: '100.000' },
		{ position: 3, item: 'Lorem Ipsum', price: '100.000', qty: 1, total: '100.000' },
		{ position: 4, item: 'Lorem Ipsum', price: '100.000', qty: 1, total: '100.000' },
		{ position: 5, item: 'Lorem Ipsum', price: '100.000', qty: 1, total: '100.000' }
	];
	const tableSimple: TableSource = {
		// A list of heading labels.
		head: ['Item', 'Price', 'Qty', 'Total'],
		// The data visibly shown in your table body UI.
		body: tableMapperValues(sourceData, ['item', 'price', 'qty', 'total']),
		// Optional: The data returned when interactive is enabled and a row is clicked.
		// meta: tableMapperValues(sourceData, ['position', 'name', 'symbol', 'weight']),
		// Optional: A list of footer labels.
		foot: ['Total', '', '', '<span class="h3 text-right">500.000</span>']
	};

	const tableArr = [
		{ tarif: 'Tarif 2', jmljam: 2, harga: 200000, qty: 1, total: 200000 },
		{ tarif: 'Tarif 1', jmljam: 1, harga: 120000, qty: 1, total: 120000 },
		{ tarif: 'Tarif 1', jmljam: 1, harga: 120000, qty: 1, total: 120000 }
	];
</script>

<div class="container h-full mx-auto justify-center items-center p-4">
	<h2 class="h2 font-bold">Meja 1</h2>
	<ol class="breadcrumb mt-2 mb-4">
		<li class="crumb"><a class="anchor" href="/station">Station</a></li>
		<li class="crumb-separator" aria-hidden>&rsaquo;</li>
		<li>Meja 1</li>
	</ol>

	<div class="grid grid-cols-2 gap-4">
		<div class="">
			<div class="card">
				<div class=" p-4">
					<div class="label space-y-2">
						<label class="flex items-center space-x-2">
							<input class="radio" type="radio" name="radio-direct" value="1" />
							<p>Hotspot</p>
						</label>
						<label class="flex items-center space-x-2">
							<input class="radio" type="radio" name="radio-direct" value="2" checked />
							<p>Bayar Depan</p>
						</label>
						<label class="flex items-center space-x-2">
							<input class="radio" type="radio" name="radio-direct" value="3" />
							<p>Bayar Belakang</p>
						</label>
					</div>
					<div class="grid grid-cols-2 gap-4">
						<label class="label">
							<span>Tarif</span>
							<select class="select">
								<option value="1">Tarif 1 (1 Jam)</option>
								<option value="1">Tarif 2</option>
								<option value="1">Tarif 3</option>
							</select>
						</label>
						<label class="label">
							<span>Jumlah</span>
							<input class="input" type="number" placeholder="input number" />
						</label>
					</div>
					<div class="text-right mb-4">
						<button type="button" class="btn variant-filled-success">Tambah</button>
					</div>
					<hr class="" />
				</div>
				<p class="font-semibold pl-4 mb-4">Rincian</p>

				<!-- Responsive Container (recommended) -->
				<div class="table-container">
					<!-- Native Table Element -->
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Tarif</th>
								<th class="text-right">Jml Jam</th>
								<th class="text-right">Harga</th>
								<th class="text-right">Qty</th>
								<th class="text-right">Total</th>
							</tr>
						</thead>
						<tbody>
							{#each tableArr as row, i}
								<tr>
									<td>{row.tarif}</td>
									<td class="text-right">{row.jmljam}</td>
									<td class="text-right">{row.harga}</td>
									<td class="text-right">{row.qty}</td>
									<td class="text-right">{row.total}</td>
								</tr>
							{/each}
						</tbody>
						<tfoot>
							<tr>
								<th colspan="4">Total</th>
								<td class="text-right text-semibold">440000</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
		<div class="grid grid-cols-1 gap-4">
			<div class="card">
				<header class="card-header font-semibold p-4 flex justify-between">
					<p>Food and Beverages</p>
					<button type="button" class="btn variant-filled-success">Tambah</button>
				</header>
				<Table source={tableSimple} />
			</div>
		</div>
		<div></div>
		<div class="text-right">
			<!-- <button type="button" class="btn variant-filled-success">Simpan</button>
			<button type="button" class="btn variant-filled-error">Batal</button> -->
		</div>
	</div>
</div>
