<script lang="ts">
	import { tblStyle } from '$lib/store';
	import Grid from 'gridjs-svelte';
	import { html, h } from 'gridjs';
	// import { tblStyle } from '$lib/store';
	import Icon from '@iconify/svelte';

	const columns = [
		{
			name: 'ID'
		},
		{
			name: 'Station'
		},
		{
			name: 'User'
		},
		{
			name: 'Total',
			formatter: (cell: any) => {
				// console.log(cell);
				return html(`
					<div class='text-right'>
						${cell}
					</div>
				`);
			}
		},
		{
			name: 'Duration'
		},
		{
			name: 'Time'
		},
		{
			name: 'Status'
		},
		{
			name: 'Aksi',
			formatter: (cell: any) => {
				return html(`
					<a href="/" class=" btn-icon btn-icon-sm ">
						<Icon icon="clarity:search-line" />
					</a>
				`);
			}
		}
	];
	const defData = [
		['xxx', 'Meja01', 'Lorem', '50.000', '02:00:00', '01:00:00', 'Stop'],
		['xxx', 'Meja01', 'Lorem', '50.000', '02:00:00', '01:00:00', 'Stop'],
		['xxx', 'Meja01', 'Lorem', '50.000', '02:00:00', '01:00:00', 'Stop'],
		['xxx', 'Meja01', 'Lorem', '50.000', '02:00:00', '01:00:00', 'Stop'],
		['xxx', 'Meja01', 'Lorem', '50.000', '02:00:00', '01:00:00', 'Stop'],
		['xxx', 'Meja01', 'Lorem', '50.000', '02:00:00', '01:00:00', 'Stop'],
		['xxx', 'Meja01', 'Lorem', '50.000', '02:00:00', '01:00:00', 'Stop'],
		['xxx', 'Meja01', 'Lorem', '50.000', '02:00:00', '01:00:00', 'Stop'],
		['xxx', 'Meja01', 'Lorem', '50.000', '02:00:00', '01:00:00', 'Stop'],
		['xxx', 'Meja01', 'Lorem', '50.000', '02:00:00', '01:00:00', 'Stop'],
		['xxx', 'Meja01', 'Lorem', '50.000', '02:00:00', '01:00:00', 'Stop'],
		['xxx', 'Meja01', 'Lorem', '50.000', '02:00:00', '01:00:00', 'Stop'],
		['xxx', 'Meja01', 'Lorem', '50.000', '02:00:00', '01:00:00', 'Stop'],
		['xxx', 'Meja01', 'Lorem', '50.000', '02:00:00', '01:00:00', 'Stop'],
		['xxx', 'Meja01', 'Lorem', '50.000', '02:00:00', '01:00:00', 'Stop'],
		['xxx', 'Meja01', 'Lorem', '50.000', '02:00:00', '01:00:00', 'Stop'],
		['xxx', 'Meja01', 'Lorem', '50.000', '02:00:00', '01:00:00', 'Stop'],
		['xxx', 'Meja01', 'Lorem', '50.000', '02:00:00', '01:00:00', 'Stop'],
		['xxx', 'Meja01', 'Lorem', '50.000', '02:00:00', '01:00:00', 'Stop']
	];
</script>

<div class="container h-full mx-auto justify-center items-center p-4">
	<h2 class="h2 font-bold">Users</h2>
	<ol class="breadcrumb mt-2 mb-4">
		<li>&nbsp;</li>
	</ol>

	<a href="/users/edit/new" type="button" class="btn variant-filled float-right mt-[-88px]">Tambah</a>
	<Grid {columns} search pagination={{ enabled: true, limit: 10 }} data={defData} style={$tblStyle} />
</div>
