@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@font-face {
	font-family: 'Roboto Condensed';
	src: url('/fonts/RobotoCondensed-Regular.ttf');
	font-display: swap;
}

html,
body {
	@apply h-full overflow-hidden;
	/* cursor:
		url('/img/cursor-64.svg') 2 2,
		pointer; */
}

/* .container {
	background-image:
		radial-gradient(at 0% 0%, rgba(var(--color-secondary-500) / 0.33) 0px, transparent 50%),
		radial-gradient(at 100% 0%, rgba(var(--color-secondary-300) / 0.33) 0px, transparent 50%),
		radial-gradient(at 100% 100%, rgba(var(--color-secondary-500) / 0.33) 0px, transparent 50%),
		radial-gradient(at 0% 100%, rgba(var(--color-secondary-300) / 0.33) 0px, transparent 50%);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
} */

.label {
	margin-bottom: 1rem;
}
.label span {
	font-weight: 600;
}

.gridjs-wrapper {
	border-radius: 2px 2px 0 0 !important;
}

.table.table-rincian-billing tbody td {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	border-width: 1px;
	--tw-border-opacity: 1;
	border-color: rgb(71 85 105 / var(--tw-border-opacity));
}
.input-rincian-billing{
	/* font-size: 0.875rem;
    line-height: 1.25rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem; */
}

.btn-header {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
}