<script lang="ts">
	import Icon from '@iconify/svelte';
</script>

<!-- YOU CAN DELETE EVERYTHING IN THIS PAGE -->

<div class="container h-full mx-auto justify-center items-center p-4">
	<h2 class="h2 font-bold">Station</h2>
	<ol class="breadcrumb mt-2 mb-4">
		<!-- <li class="crumb"><a class="anchor" href="/pg1">Station</a></li>
		<li class="crumb-separator" aria-hidden>&rsaquo;</li>
		<li>Meja 1</li> -->
	</ol>

	<div class="grid grid-cols-5 gap-4">
		<div class="card card-hover variant-ringed-error">
			<header class="card-header font-bold variant-filled-error p-2">
				<span>Meja 1</span>
			</header>
			<section class="p-2 bg-error-200">
				<table class="w-full">
					<tr>
						<td>Mulai</td>
						<td>:</td>
						<td class="text-right">00:00:00</td>
					</tr>
					<tr>
						<td>Durasi</td>
						<td>:</td>
						<td class="text-right">00:00:00</td>
					</tr>
					<tr>
						<td>Sisa</td>
						<td>:</td>
						<td class="text-right">00:00:00</td>
					</tr>
					<tr>
						<td>Biaya</td>
						<td>:</td>
						<td class="text-right">0</td>
					</tr>
					<tr>
						<td>Jual</td>
						<td>:</td>
						<td class="text-right">0</td>
					</tr>
				</table>
				<hr class="my-2 !border-t-2 border-red-200" />
				<p class="h3 font-bold text-right">0</p>
			</section>
			<div class="p-2 bg-error-200">
				<div class=" flex grow justify-between">
					<a href="/pg1/billing" type="button" class="btn variant-ghost inline-block">Billing</a>
					<button type="button" class="btn variant-filled-error inline-block">Close</button>
				</div>
			</div>
		</div>
		<div class="card card-hover variant-ringed-success">
			<header class="card-header font-bold variant-filled-success p-2">Meja 2</header>
			<section class="p-2 bg-success-200">
				<table class="w-full">
					<tr>
						<td>Mulai</td>
						<td>:</td>
						<td class="text-right">00:00:00</td>
					</tr>
					<tr>
						<td>Durasi</td>
						<td>:</td>
						<td class="text-right">00:00:00</td>
					</tr>
					<tr>
						<td>Sisa</td>
						<td>:</td>
						<td class="text-right">00:00:00</td>
					</tr>
					<tr>
						<td>Biaya</td>
						<td>:</td>
						<td class="text-right">0</td>
					</tr>
					<tr>
						<td>Jual</td>
						<td>:</td>
						<td class="text-right">0</td>
					</tr>
				</table>
				<hr class="my-2 !border-t-2 border-red-200" />
				<p class="h3 font-bold text-right">0</p>
			</section>
			<div class="p-2 bg-success-200">
				<div class=" flex grow justify-between">
					<div></div>
					<!-- <button type="button" class="btn variant-ghost inline-block">Billing</button> -->
					<button type="button" class="btn variant-filled-success inline-block">Open</button>
				</div>
			</div>
		</div>
		<div class="card card-hover variant-ringed-success">
			<header class="card-header font-bold variant-filled-success p-2">Meja 3</header>
			<section class="p-2 bg-success-200">
				<table class="w-full">
					<tr>
						<td>Mulai</td>
						<td>:</td>
						<td class="text-right">00:00:00</td>
					</tr>
					<tr>
						<td>Durasi</td>
						<td>:</td>
						<td class="text-right">00:00:00</td>
					</tr>
					<tr>
						<td>Sisa</td>
						<td>:</td>
						<td class="text-right">00:00:00</td>
					</tr>
					<tr>
						<td>Biaya</td>
						<td>:</td>
						<td class="text-right">0</td>
					</tr>
					<tr>
						<td>Jual</td>
						<td>:</td>
						<td class="text-right">0</td>
					</tr>
				</table>
				<hr class="my-2 !border-t-2 border-red-200" />
				<p class="h3 font-bold text-right">0</p>
			</section>
			<div class="p-2 bg-success-200">
				<div class=" flex grow justify-between">
					<div></div>
					<!-- <button type="button" class="btn variant-ghost inline-block">Billing</button> -->
					<button type="button" class="btn variant-filled-success inline-block">Open</button>
				</div>
			</div>
		</div>
		<div class="card card-hover variant-ringed-success">
			<header class="card-header font-bold variant-filled-success p-2">Meja 4</header>
			<section class="p-2 bg-success-200">
				<table class="w-full">
					<tr>
						<td>Mulai</td>
						<td>:</td>
						<td class="text-right">00:00:00</td>
					</tr>
					<tr>
						<td>Durasi</td>
						<td>:</td>
						<td class="text-right">00:00:00</td>
					</tr>
					<tr>
						<td>Sisa</td>
						<td>:</td>
						<td class="text-right">00:00:00</td>
					</tr>
					<tr>
						<td>Biaya</td>
						<td>:</td>
						<td class="text-right">0</td>
					</tr>
					<tr>
						<td>Jual</td>
						<td>:</td>
						<td class="text-right">0</td>
					</tr>
				</table>
				<hr class="my-2 !border-t-2 border-red-200" />
				<p class="h3 font-bold text-right">0</p>
			</section>
			<div class="p-2 bg-success-200">
				<div class=" flex grow justify-between">
					<div></div>
					<!-- <button type="button" class="btn variant-ghost inline-block">Billing</button> -->
					<button type="button" class="btn variant-filled-success inline-block">Open</button>
				</div>
			</div>
		</div>
		<div class="card card-hover variant-ringed-success">
			<header class="card-header font-bold variant-filled-success p-2">Meja 5</header>
			<section class="p-2 bg-success-200">
				<table class="w-full">
					<tr>
						<td>Mulai</td>
						<td>:</td>
						<td class="text-right">00:00:00</td>
					</tr>
					<tr>
						<td>Durasi</td>
						<td>:</td>
						<td class="text-right">00:00:00</td>
					</tr>
					<tr>
						<td>Sisa</td>
						<td>:</td>
						<td class="text-right">00:00:00</td>
					</tr>
					<tr>
						<td>Biaya</td>
						<td>:</td>
						<td class="text-right">0</td>
					</tr>
					<tr>
						<td>Jual</td>
						<td>:</td>
						<td class="text-right">0</td>
					</tr>
				</table>
				<hr class="my-2 !border-t-2 border-red-200" />
				<p class="h3 font-bold text-right">0</p>
			</section>
			<div class="p-2 bg-success-200">
				<div class=" flex grow justify-between">
					<div></div>
					<!-- <button type="button" class="btn variant-ghost inline-block">Billing</button> -->
					<button type="button" class="btn variant-filled-success inline-block">Open</button>
				</div>
			</div>
		</div>
		<div class="card card-hover variant-ringed-success">
			<header class="card-header font-bold variant-filled-success p-2">Meja 6</header>
			<section class="p-2 bg-success-200">
				<table class="w-full">
					<tr>
						<td>Mulai</td>
						<td>:</td>
						<td class="text-right">00:00:00</td>
					</tr>
					<tr>
						<td>Durasi</td>
						<td>:</td>
						<td class="text-right">00:00:00</td>
					</tr>
					<tr>
						<td>Sisa</td>
						<td>:</td>
						<td class="text-right">00:00:00</td>
					</tr>
					<tr>
						<td>Biaya</td>
						<td>:</td>
						<td class="text-right">0</td>
					</tr>
					<tr>
						<td>Jual</td>
						<td>:</td>
						<td class="text-right">0</td>
					</tr>
				</table>
				<hr class="my-2 !border-t-2 border-red-200" />
				<p class="h3 font-bold text-right">0</p>
			</section>
			<div class="p-2 bg-success-200">
				<div class=" flex grow justify-between">
					<div></div>
					<!-- <button type="button" class="btn variant-ghost inline-block">Billing</button> -->
					<button type="button" class="btn variant-filled-success inline-block">Open</button>
				</div>
			</div>
		</div>
		<div class="card card-hover variant-ringed-success">
			<header class="card-header font-bold variant-filled-success p-2">Meja 7</header>
			<section class="p-2 bg-success-200">
				<table class="w-full">
					<tr>
						<td>Mulai</td>
						<td>:</td>
						<td class="text-right">00:00:00</td>
					</tr>
					<tr>
						<td>Durasi</td>
						<td>:</td>
						<td class="text-right">00:00:00</td>
					</tr>
					<tr>
						<td>Sisa</td>
						<td>:</td>
						<td class="text-right">00:00:00</td>
					</tr>
					<tr>
						<td>Biaya</td>
						<td>:</td>
						<td class="text-right">0</td>
					</tr>
					<tr>
						<td>Jual</td>
						<td>:</td>
						<td class="text-right">0</td>
					</tr>
				</table>
				<hr class="my-2 !border-t-2 border-red-200" />
				<p class="h3 font-bold text-right">0</p>
			</section>
			<div class="p-2 bg-success-200">
				<div class=" flex grow justify-between">
					<div></div>
					<!-- <button type="button" class="btn variant-ghost inline-block">Billing</button> -->
					<button type="button" class="btn variant-filled-success inline-block">Open</button>
				</div>
			</div>
		</div>
		<div class="card card-hover variant-ringed-success">
			<header class="card-header font-bold variant-filled-success p-2">Meja 8</header>
			<section class="p-2 bg-success-200">
				<table class="w-full">
					<tr>
						<td>Mulai</td>
						<td>:</td>
						<td class="text-right">00:00:00</td>
					</tr>
					<tr>
						<td>Durasi</td>
						<td>:</td>
						<td class="text-right">00:00:00</td>
					</tr>
					<tr>
						<td>Sisa</td>
						<td>:</td>
						<td class="text-right">00:00:00</td>
					</tr>
					<tr>
						<td>Biaya</td>
						<td>:</td>
						<td class="text-right">0</td>
					</tr>
					<tr>
						<td>Jual</td>
						<td>:</td>
						<td class="text-right">0</td>
					</tr>
				</table>
				<hr class="my-2 !border-t-2 border-red-200" />
				<p class="h3 font-bold text-right">0</p>
			</section>
			<div class="p-2 bg-success-200">
				<div class=" flex grow justify-between">
					<div></div>
					<!-- <button type="button" class="btn variant-ghost inline-block">Billing</button> -->
					<button type="button" class="btn variant-filled-success inline-block">Open</button>
				</div>
			</div>
		</div>
		<div class="card card-hover variant-ringed-success">
			<header class="card-header font-bold variant-filled-success p-2">Meja 9</header>
			<section class="p-2 bg-success-200">
				<table class="w-full">
					<tr>
						<td>Mulai</td>
						<td>:</td>
						<td class="text-right">00:00:00</td>
					</tr>
					<tr>
						<td>Durasi</td>
						<td>:</td>
						<td class="text-right">00:00:00</td>
					</tr>
					<tr>
						<td>Sisa</td>
						<td>:</td>
						<td class="text-right">00:00:00</td>
					</tr>
					<tr>
						<td>Biaya</td>
						<td>:</td>
						<td class="text-right">0</td>
					</tr>
					<tr>
						<td>Jual</td>
						<td>:</td>
						<td class="text-right">0</td>
					</tr>
				</table>
				<hr class="my-2 !border-t-2 border-red-200" />
				<p class="h3 font-bold text-right">0</p>
			</section>
			<div class="p-2 bg-success-200">
				<div class=" flex grow justify-between">
					<div></div>
					<!-- <button type="button" class="btn variant-ghost inline-block">Billing</button> -->
					<button type="button" class="btn variant-filled-success inline-block">Open</button>
				</div>
			</div>
		</div>
		<div class="card card-hover variant-ringed-success">
			<header class="card-header font-bold variant-filled-success p-2">Meja 10</header>
			<section class="p-2 bg-success-200">
				<table class="w-full">
					<tr>
						<td>Mulai</td>
						<td>:</td>
						<td class="text-right">00:00:00</td>
					</tr>
					<tr>
						<td>Durasi</td>
						<td>:</td>
						<td class="text-right">00:00:00</td>
					</tr>
					<tr>
						<td>Sisa</td>
						<td>:</td>
						<td class="text-right">00:00:00</td>
					</tr>
					<tr>
						<td>Biaya</td>
						<td>:</td>
						<td class="text-right">0</td>
					</tr>
					<tr>
						<td>Jual</td>
						<td>:</td>
						<td class="text-right">0</td>
					</tr>
				</table>
				<hr class="my-2 !border-t-2 border-red-200" />
				<p class="h3 font-bold text-right">0</p>
			</section>
			<div class="p-2 bg-success-200">
				<div class=" flex grow justify-between">
					<div></div>
					<!-- <button type="button" class="btn variant-ghost inline-block">Billing</button> -->
					<button type="button" class="btn variant-filled-success inline-block">Open</button>
				</div>
			</div>
		</div>
	</div>
</div>
