<script lang="ts">
	import Icon from '@iconify/svelte';

	// export let data: PageData;
</script>

<div class="container h-full mx-auto justify-center items-center p-4">
	<h2 class="h2 font-bold">User Baru</h2>
	<ol class="breadcrumb mt-2 mb-4">
		<li class="crumb"><a class="anchor" href="/users">Users</a></li>
		<li class="crumb-separator" aria-hidden>&rsaquo;</li>
		<li>User Baru</li>
	</ol>

	<div class="grid grid-cols-2 gap-4">
		<div class="grid grid-cols-1 gap-0">
			<label class="label">
				<span>Username</span>
				<input class="input" title="Input (text)" type="text" placeholder="input text" />
			</label>
			<label class="label">
				<span>Password</span>
				<input class="input" title="Input (text)" type="password" placeholder="input text" />
			</label>
			<label class="label">
				<span>Role</span>
				<select class="select">
					<option value="1" selected>Management</option>
					<option value="1">Operator</option>
					<option value="1">VIP</option>
				</select>
			</label>

			<label class="label">
				<span>Nama Lengkap</span>
				<input class="input" type="text" placeholder="input text" />
			</label>
		</div>
		<div class="grid grid-cols-1 gap-4"></div>
		<div></div>
		<div class="text-right">
			<button type="button" class="btn variant-filled-primary">Simpan</button>
			<button type="button" class="btn variant-ghost">Batal</button>
		</div>
	</div>
</div>
